table textarea {
    display: block;
    height: 200px;
}

table th {
    text-align: center;
}

table a {
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    background-color: teal;
    color: white;
    box-shadow: 0px 0px 3px gray;
    transition: box-shadow .3s ease-in-out;
}
.btn:hover{
    color: white;
}
table a:hover{
    color: whitesmoke;
    text-decoration: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.452);
}
table td {
    padding: 5px;
}